@import "tailwindcss";

.font-poppins {
  font-family: "Poppins", sans-serif !important;
  /* font-family: "Libre Baskerville", serif !important; */
}
.font-libre {
  font-family: "Libre Baskerville", serif !important;
  /* font-family: "Libre Baskerville", serif !important; */
}

.pulseScale {
  animation: pulseScale 1.2s ease-in-out infinite;
}

@keyframes pulseScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}